<template>
<!-- The Modal -->
<div class="modal" id="updateTodoModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update TodoList </h4>
        <button type="button" @click="closeTodoModal" class="close">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="updateTodoForm">
          <div class="form-group">
              <label for="description">Todo Description:</label>
              <input type="text" required class="form-control" @change="description" :value="getDescription" name="description" id="description" placeholder="Todo..">
          </div>
          {{ todo }}
          <button type="button" class="btn btn-block btn-success" @click="updateTodo">
            <span class="" v-if="req_status === 'pending'">loading</span>
            <span class="" v-else>Update</span>
          </button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer"></div>

    </div>
  </div>
</div>
</template>
<script>
export default {
    name: 'update-todo-modal',
    props: {
      todo: {
        type: Object,
        default: {}
      }
    },
    data() {
        return {
            udescription: '',
            req_status: ''
        }
    },
    methods: {
        updateTodo(e) {
            this.req_status = 'pending'

            this.$http.put('todo-list/'+this.todo.id, this.formData)
            .then( response => {
              this.req_status = 'success'
              this.$emit('alertMessage', {'type': 'success', 'message': 'Successfully updated todo.'})
            })
            .catch( err => {
              this.req_status = 'error'
              this.$emit('alertMessage', {'type': 'danger', 'message': 'Server failed to proccess request.' })
            })
            
        },
        closeTodoModal(e) {
          $('#updateTodoModal').slideToggle()
          $('#alert-box').hide()
          this.udescription = ''
        },
        description(e) {
          this.udescription = e.target.value
        }
    },
    computed: {
        formData() {
            let description = this.getDescription
            return {'description': description }
        },
        getDescription() {
          if(this.udescription === ''){
            return this.todo.description
          }
          else{
            return this.udescription
          }
        }
    }
}
</script>