  <template>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card card-default">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row">
                                    <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                                    <div class="col-md-6">
                                        <input id="name" type="text" class="form-control" v-model="user.name" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                    <div class="col-md-6">
                                        <input id="email" type="email" class="form-control" v-model="user.email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input id="password" type="password" class="form-control" v-model="user.password" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                                    <div class="col-md-6">
                                        <input id="password-confirm" type="password" class="form-control" v-model="user.c_password" required>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary" @click="createUser">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
    export default {
        props : ['nextUrl'],
        data(){
            return {
                user: {
                    name: '',
                    email: '',
                    password: '',
                    c_password: '',
                }
            }
        },
        methods : {
            createUser(e) {
                console.log('CREATE USER');
                e.preventDefault()
                
                let formData = {
                    'name': this.user.name,
                    'email': this.user.email,
                    'password': this.user.password,
                    'c_password': this.user.c_password
                }

                let isIdenticalPassword = this.user.password === this.user.c_password
                let isEmptyPassword = this.user.password.length === 0

                if (!isIdenticalPassword) {
                    this.user.password = ""
                    this.user.c_password = ""
                    return alert('The password is not identical')
                }

                if(isEmptyPassword){
                    return alert('The password is empty')
                }

                this.$http.post('register', formData)
                .then(response => {
                    console.log('then')
                    let data = response.data
                    localStorage.setItem('todoList.user', JSON.stringify(data.user))
                    localStorage.setItem('todoList.jwt', data.token)

                    if (localStorage.getItem('todoList.jwt') != null) {
                        this.$emit('loggedIn')
                        let nextUrl = this.$route.params.nextUrl
                        this.$router.push((nextUrl != null ? nextUrl : '/'))
                    }
                })
                .catch( error => {
                    console.log('error');
                    console.log(error);
                })
            }
        }
    }
    </script>