<template>
    <div class="container">

        <UpdateTodoModal @alertMessage="alertBox" :todo="todo"></UpdateTodoModal>
        <ConfirmBox :todo="todo" @confirm="removeTodo(todo.id)"></ConfirmBox>
        <AlertBox :data="alert_data"></AlertBox>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">

                    <div class="card-header">
                        <span class="float-left">Todo List</span>
                        <span @click="toggleCreate()" :class="{ 'text-primary' : canCreate }" class="float-right" style="cursor: pointer">(+)Add</span>
                        <div v-show="canCreate">
                            <div class="form-group" style="margin-top: 30px">
                                <input v-model="todoList.description" type="name" placeholder="Description.." class="form-control" id="description">
                            </div>
                            <button type="button" @click="addToList()" class="btn btn-block btn-primary">Confirm</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(todo,index) in todoList" :key="index">
                                <td>{{ todo.id }}</td>
                                <td>{{ todo.description }}</td>
                                <td>
                                    <div class="d-flex flex-wrap">
                                        <div>
                                            <button @click="showUpdateForm(todo)" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-arrow">U</i></button>
                                        </div>
                                        <div>
                                            <button @click="showConfirmRemove(todo)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash">X</i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                canCreate: false,
                todoList: {},
                todo: {},
                req_status: '',
                alert_data: {},
                openUpdateFor: null,
                todoUpdateID: null,
            }
        },
        mounted() {
            console.log('GET TODO LIST');
            this.refreshTodoList();
        },
        methods: {
            refreshTodoList() {
                this.getTodoList();
            },
            toggleCreate() {
                if(this.canCreate)
                    this.canCreate = false
                else
                    this.canCreate = true
            },
            addToList() {

                let formData = {
                    description: this.todoList.description
                }

                this.$http.post('todo-list', formData)
                .then(response => {
                    // 
                })
                .catch( error => {
                    return alert('SERVER ERROR: ' + error)
                })
                .finally(() => {
                    this.refreshTodoList();
                })
            },
            getTodoList() {
                this.$http.get('todo-list')
                .then(response => {
                    this.todoList = response.data
                })
                .catch( error => {
                    return alert('SERVER ERROR: ' + error)
                })
                .finally(() => {
                    // 
                })
            },
            toggleUpdate(id) {
                this.openUpdateFor = id
            },
            showUpdateForm(todo) {
                $('#updateTodoModal').slideToggle()
                this.todo = todo
            },
            alertBox(data) {
                $('#alert-box').show()
                this.alert_data = data
                if(data.type === 'success'){
                    this.refreshTodoList()
                }
            },
            showConfirmRemove(todo) {
                this.todo = todo
                $('#confirmRemoveModal').slideToggle()
            },
            removeTodo(todo_id) {
                this.req_status = 'PENDING'
                this.$http.delete('todo-list/' +todo_id)
                .then( response => {
                    this.alertBox({'type': 'success', 'message': 'Delete success.'})
                    this.req_status = 'SUCCESS'
                })
                .catch( err=>{
                    this.req_status = 'ERROR'
                })
            }
        }
    }
</script>
