<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <router-link :to="{name: 'landingpage'}" class="navbar-brand">Todo List</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="navbar-nav ml-auto">
                        <router-link :to="{ name: 'login' }" class="nav-link" v-if="!isLoggedIn">Login</router-link>
                        <router-link :to="{ name: 'register' }" class="nav-link" v-if="!isLoggedIn">Register</router-link>
                        <li class="nav-link" v-if="isLoggedIn" @click="logout"> Logout</li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="py-4">
            <router-view @loggedIn="change"></router-view>  
        </main>
    </div>
</template>

<script>
import Vue from 'vue'
Vue.component('UpdateTodoModal', require('../components/services/UpdateTodoModal.vue').default)
Vue.component('AlertBox', require('../components/services/AlertBox.vue').default)
Vue.component('ConfirmBox', require('../components/services/ConfirmBox.vue').default)

export default {
    data() {
        return {
            name: null,
            isLoggedIn: localStorage.getItem('todoList.jwt') != null
        }
    },
    mounted() {
        this.setDefaults()
    },
    methods : {
        setDefaults() {
            if (this.isLoggedIn) {
                let user = JSON.parse(localStorage.getItem('todoList.user'))
                this.name = user.name
            }
        },
        change() {
            this.isLoggedIn = localStorage.getItem('todoList.jwt') != null
            this.setDefaults()
        },
        logout(){
            localStorage.removeItem('todoList.jwt')
            localStorage.removeItem('todoList.user')
            this.change()
            this.$router.push('/') //redirect user to homepage  
        }
    }
}
</script>